* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p span {
    color: white;
    font-weight: bold;
}

body {
    background-color: #f4f4f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    line-height: 1.6;
}


#profile-name {
    color: white;           
    font-size: 3em;
    margin-bottom: 10px;
    animation: fadeIn 2s ease-in-out;  
}


#interests table {
    width: 200px; 
    border-collapse: collapse;
    margin: 20px auto; 
}

#interests th, #interests td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

header {
    background: linear-gradient(to right, #4e54c8, #4e54c8);
    color: white;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}



header h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: white; 
}

header img {
    border-radius: 50%;
    width: 150px;
    border: 5px solid white;
    margin-top: 20px;
}

nav {
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 25px;
}

nav ul li a:hover {
    background-color: #575757;
    padding: 10px 20px;
}

section {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

section img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto 20px;
}


.highlight-box {
    background-color: #f0f0f5;   
    color: #000000;                 
    padding: 15px;
    border-left: 5px solid #4e54c8; 
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #4e54c8;
    color: white;
}


@media print {
    nav, iframe, form {
        display: none;  
    }

    body {
        background: white;
        color: black;
        font-size: 12pt;
    }

    section {
        box-shadow: none;
        border: none;
        margin: 0;
        padding: 0;
    }

    a::after {
        content: " (" attr(href) ")"; 
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
